<div>
    <div>
        <h3>
            {{concept.ConceptTitle}}
        </h3>
    </div>

    <div>
        {{concept.ConceptDescription}}
        <hr/>
        <ng-template [ngIf]="loggedInUser.isAdmin()">
            <clr-stack-view>
                <clr-stack-header>Particiapting Institutions</clr-stack-header>


                <ng-template [ngIf]="universities">


                    <div *ngFor="let university of universities ">

                        <clr-stack-block [clrSbExpanded]="false">
                            <clr-stack-label> {{university.College.CollegeName}}
                            </clr-stack-label>

                            <clr-stack-block>
                                                                <clr-stack-label data-ng-style="width:10%">
                                                                </clr-stack-label>


                                <clr-stack-content style="width:90%">
                                <div *ngFor="let project of university.projects ">
                                    <app-project-card [project]="project"></app-project-card>
                                </div>
                                </clr-stack-content>
                            </clr-stack-block>

                        </clr-stack-block>
                    </div>
                </ng-template>

                <ng-template [ngIf]="!universities">
                    <div class="alert alert-info" role="alert">No particpants yet</div>

                </ng-template>
            </clr-stack-view>
        </ng-template>
    </div>

</div>