
<div class="login-wrapper">
    <form class="login" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Praxim Learning
            <h5 class="hint">Use your Username and password to sign in or create one now</h5>
        </label>
        <div class="login-group">

            <input class="username" type="email" placeholder="Email" class="form-control" name="username" [(ngModel)]="model.username"
                #username="ngModel" required email="true" />
            <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                required />
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
                <alert></alert>
            <button type="submit" class="btn btn-primary">NEXT</button>
            <a [routerLink]="['/register']" class="signup">Create new account</a> 
        </div>
    </form>
</div>