<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

  <div class="card">
    <div class="card-header">
      {{ concept.ConceptTitle }}
    </div>

    <div class="card-block" style="height:300px;overflow:scroll;">
      <div class="card-media-block">
        <img src="/assets/images/logo.png" class="card-media-image">
        <div class="card-media-description">
          <span class="card-media-title">
                            Company Name
                        </span>
          <span class="card-media-text">
        {{ concept.ConceptFromDate | date }} to {{ concept.ConceptToDate | date }}
                        </span>
        </div>
      </div>

      <div class="card-text">
        {{ concept.ConceptDescription}}

      </div>
    </div>


    <div class="card-footer">
      <a class="btn btn-sm btn-link" type="button" (click)="RegisterToConcept(concept)" *ngIf="!isAlreadyRegistered && loggedInUser.isTeacher()">Register</a>
      <a class="btn btn-sm btn-link" type="button" routerLink='/concepts/{{concept.ConceptId}}'>Go to concept home</a>
    </div>
  </div>
</div>