<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:5px;">{{ project.ProjectTitle }}</span>

    </div>
  </p-header>
  The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
  son Michael has just come home from the war, but does not intend to become part of his father's business. Through Michael's
  life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind
  and benevolent to those who give respect, but given to ruthless violence whenever anythi {{ project.ProjectDescription}}
  <p-footer>
    <a routerLink='/projects/{{project.ProjectId}}' icon="fa-list" class="ui-button-success">Go to project home</a>
    <button pButton type="button" icon="fa-list" label="View" class="ui-button-success"></button>

  </p-footer>
</p-panel>

