<div class="panel panel-info">

  <div class="panel-heading">
    <h1 class="panel-title">{{ project.ProjectTitle }}</h1>
    <h5> Start date :{{ project.ProjectStartDate| date }} End date :{{ project.ProjectEndDate| date }}</h5>
    <h5> </h5>
  </div>

  <div class="panel-body">
    <p>
      {{ project.ProjectDescription}}
    </p>

  </div>

  <div style="margin-bottom: 10px;margin-left: 10px;">



    <a routerLink='/projects/{{project.ProjectId}}' class="btn btn-primary">Go to project home</a>
  </div>


</div>