
.ui-autocomplete-multiple-container{
        width: 100%;

}
.ui-autocomplete-input-token{
        width: 100%;

}
.ui-autocomplete-input-token input {
    border: 0 none;
    width: 100%;
    outline: medium none;
    background-color: transparent;
    margin: 0px 0px 0px 5px;
    padding: 0;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

