<div class="row">

  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">

      <div class="row">
        <div class="col-xs-12">

          <alert></alert>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Project Title</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="model.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">Project Title is required</div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Project Description</label>

            <p-editor name="description" [(ngModel)]="model.description" [style]="{'height':'320px'}" #description="ngModel"></p-editor>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="startDate">Project start date</label>
            <p-calendar name="startDate" [(ngModel)]="model.startDate " (ngModelChange)="model.startDate = $event" #startDate="ngModel"
              [showIcon]="true"></p-calendar>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="endDate">Project end date</label>
            <p-calendar name="endDate" [(ngModel)]="model.endDate " (ngModelChange)="model.endDate = $event" #endDate="ngModel" [showIcon]="true"></p-calendar>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>