<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Project Title</label>
            <input type="text" name="projectTitle" class="form-control" [(ngModel)]="model.projectTitle" #projectTitle="ngModel" required
            />
            <div *ngIf="f.submitted && !projectTitle.valid" class="help-block">Project Title is required</div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Project Description</label>
            <textarea type="text" name="projectDescription" class="form-control" [(ngModel)]="model.projectDescription" #projectDescription="ngModel" rows="6"></textarea>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Project Start Date</label>
          <input [ngModel]="projectStartDate | date:'yyyy-MM-dd'" (ngModelChange)="projectStartDate = $event" type="date" name="projectStartDate"/>
        </div>
      </div>
      </div>

<div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Project End Date</label>
          <input [ngModel]="projectEndDate | date:'yyyy-MM-dd'" (ngModelChange)="projectEndDate = $event" type="date" name="projectEndDate"/>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>