<div class="col-md-8 col-md-offset-3">

    <p-panel header="Register">
       
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <alert></alert>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-2">
                    First Name
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" class="form-control" name="FirstName" [(ngModel)]="model.FirstName" #FirstName="ngModel" required />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !FirstName.valid">
                        <i class="fa fa-close"></i> Firstname is required
                    </div>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-2">
                    Last Name
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" class="form-control" name="LastName" [(ngModel)]="model.LastName" #LastName="ngModel" required />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !LastName.valid">
                        <i class="fa fa-close"></i> Lastname is required
                    </div>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-2">
                    Email
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required email="true" />

                </div>

                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !email.valid">
                        <i class="fa fa-close"></i> Email is required
                    </div>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-2">
                    Password
                </div>
                <div class="ui-grid-col-6">
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />


                </div>

                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !password.valid">
                        <i class="fa fa-close"></i> password is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"> &nbsp; </div>
                <div class="ui-grid-col-6">
                    <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>
            </div>

        </form>
    </p-panel>

</div>